:root {
    --main-color: #B44FF7;
    --background-color: #1E1E1E;
    --grid-color: #ffffff07;
    --text-color: #E1E1E1;
    --hover-color: #743697;
}

body.light {
    --background-color: #E1E1E1;
    --text-color: #1E1E1E;
    --grid-color: #00000007;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 30px;
    width: 70px;
    border-width: 0px;
    border-radius: 8px;
}

button:hover {
    color: #E1E1E1; /*CONTRASTE! no lo borre */
    background-color: var(--hover-color);
}

button:active {
    background-color: var(--main-color);
}

h1 { 
    color: var(--text-color);
    font-size: 48px;
    margin: 10px 0px;
}

h2 {
    color: var(--text-color);
    margin: 10px 0 20px;
}

p {
    color: var(--text-color);
    max-width: 600px;
    line-height: 1.6;
}

.pretty-text { /*ChatGPT*/
    display: inline-block; /*Esto hace que el gradiente se vea igual no importa tamaño*/
    background: linear-gradient( /*Estructura para personalizar mejor el gradient*/
        130deg,
        var(--main-color) 0%,
        var(--text-color) 60%,
        var(--text-color) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel-pattern {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;

  background-image:
    repeating-linear-gradient(
      0deg,
      var(--grid-color) 0px,
      var(--grid-color) 5px,
      transparent 3px,
      transparent 50px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-color) 0px,
      var(--grid-color) 1px,
      transparent 3px,
      transparent 50px
    );
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  border: 4px solid #ffffff10;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}