html {
    scroll-behavior: smooth;
}

:root {
    --main-color: rgb(180, 79, 247);
    --background-color: rgb(30, 30, 30);
    --grid-color: rgba(255, 255, 255, 0.03);
    --text-color: rgb(225, 225, 225);
    --hover-color: rgb(116, 54, 151);
}

body.light {
    --background-color: rgb(225, 225, 225);
    --text-color: rgb(30, 30, 30);
    --grid-color: rgba(128, 128, 128, 0.03);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 30px;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    color: rgb(225, 225, 225); /*CONTRASTE! no lo borre */
    background-color: var(--hover-color);
}

button:active {
    background-color: var(--main-color);
}

h1 { 
    color: var(--text-color);
    font-size: 48px;
    margin: 10px 0px;
}

h2 {
    color: var(--text-color);
    margin: 10px 0 20px;
}

p {
    color: var(--text-color);
    max-width: 600px;
    line-height: 1.6;
}

section {
    scroll-margin-top: 200px;
}

input, textarea {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--main-color);
}

.pretty-text { /*ChatGPT*/
    display: inline-block; /*Esto hace que el gradiente se vea igual no importa tamaño*/
    background: linear-gradient( /*Estructura para personalizar mejor el gradient*/
        130deg,
        var(--main-color) 0%,
        var(--text-color) 60%,
        var(--text-color) 100%
    ); 

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    position: fixed;
    top: 0;
    width: 80%;
    max-width: 1000px;  

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    background-color: var(--background-color);
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

.navbar nav a:hover {
    color: var(--main-color);
}

.logo {
    font-weight: bold;
    font-size: 40px;
}

.panel-pattern {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image:
    repeating-linear-gradient(
      0deg,
      var(--grid-color) 0px,
      var(--grid-color) 5px,
      transparent 3px,
      transparent 50px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-color) 0px,
      var(--grid-color) 1px,
      transparent 3px,
      transparent 50px
    );/*ChatGPT*/
}

.blank-space {
    margin: 20%;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--grid-color);
}

.profile-img:hover {
    border-color: var(--main-color);
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    max-width: 1000px;
    margin-top: 40px;
}

.card {
    background-color: var(--background-color);
    padding: 25px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--text-color);
    text-align: left;
}

.card:hover {
    border-color: var(--main-color);
}

.wide {
    grid-column: span 2;
}

.image-card {
    background-color: rgb(225, 225, 225);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-card img {
    width: 100%;
    max-width: 200px;
}

.contact-section {
    width: 100%;
    max-width: 700px;
}

.contact-form {
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
}

.contact-form textarea {
    height: 160px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(109, 90, 131);
}

.contact-btn {
    margin-top: 10px;
    height: 45px;
    background-color: var(--text-color);
    color: var(--background-color);
    font-weight: 600;
}